*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /*background-image: url("/templates/static/images/istockphoto-1140124099-170667a.jpeg");*/
    background-image: url("/static/images/Create-eCommerce-Websites.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-color: antiquewhite;
    /* font-family: 'Anek Odia', sans-serif;
    font-family: 'Dancing Script', cursive; */
    font-family: 'Titillium Web', sans-serif;
}

.shopfront-div{
    width: 500px;
    height: 220px;
    position: relative;
    left: 20px;
    top: 140px;
}

.shopfront-title{
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

.seller-login-form{
    width: 400px;
    height: 200px;
    margin-top: -30px;
    color: black;
    background-color: whitesmoke;
    box-shadow: 5px 10px 18px #555454;
    border-radius: 10px;
}

form{
    padding-top: 20px;
}

.form-box{
    /* border: 2px solid red; */
    width: 300px;
    margin: 30px 0 0 50px;
}

input{
    padding: 10px;
    margin: 10px 0 10px 30px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding: 11px 40px;
    box-shadow: white;
    width: 80%;
}

.continue-btn{
    color: white;
    background-color: green;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}
.continue-btn:hover{
    background-color: crimson;
}

span{
    font-weight: lighter;
    font-size: 60px;
}

p {
    line-height: 20px;
}

a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 6px 6px;
    color: #000;
    font-weight: bold;


}

button{
    margin-top: 10px;
    background-color: rgb(42, 41, 41);
    border: none;
    border-radius: 5px 5px;
    padding: 3px 8px;

}
button a {
    color: #fff;
    font-size: 14px;

}

.button-div{
    /* border: 2px solid red; */
    padding-top: 20px;
}

.market-btn{
    margin-left: 80px;
}

.home-btn{
    margin-left: 10px;
}




.post-blog{
    width: 90%;
    height: 30px;
    padding-bottom: 10px;
    background-color: green;
    color: #fff;
    border: 0;
    box-shadow: none;
    margin-left: 40px;
    margin-top: 20px;
    cursor: pointer;
}
.post-blog:hover{
    background-color: tomato;
}

.name-input{
    border: 0;
    box-shadow: none;
    background-color: rgb(223, 219, 219);
    width: 75%;
    height: 20px;
    margin-top: 20px;
    margin-left: 40px;

}

h2{
    text-align: center;
}

select{
    margin-left: 40px;
    margin-top: 20px;
}

.quantity{
    width: 45%;
}

label{
    margin-left: 40px;
}

.seller-edit-product{
    background-color: #fff;
    width: 40vw;
    height: 60vh;
    position: absolute;
    left: 500px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thebutton{
    background-color: orange;
    margin: auto;
    width: 20rem;
    height: 3rem;
    margin-bottom: 5px;
    position: relative;
    /* right:40px; */

    border: 1px solid #FFF;
    padding: 15px;

    text-align: center;
}

.thebutton:hover{
    background-color: green;
    color: #fff;
}

.container-seller{
    /* border: 2px solid crimson; */
    width: 100vw;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    margin: auto; */
    
}

.seller-form{
    background-color: rgba(255,255,255);
    width: 50%;
    height: 450px;
    margin: auto;
    justify-content: center;

}

.edit-product{
    background-color: #fff;
    width: 60%;
    height: auto;
    margin: auto;
}

.page-btn{
    background-color: #000;
    border-style: none;
}

.page-btn:hover {
    background-color: #555454;
    color: white;
}
.page-btn a {
    color: #FFF;
}

.notification{
    border: 2px solid crimson;
    width: 100px;
    height: 250px;
}

