
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&family=Dancing+Script:wght@500&family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/buyer-signup.css">
    <link rel="icon" href="/static/images/download.png" type="image/x-icon">
    <title>Next CUSTOMER</title>
</head>
<body>
<div class="container">

    <!-- Start body -->
    <h1 style="text-align: center; font-size: 50px">N E X T - S T O R E</h1>
    <div class="shopfront-div" style="margin-top: -100px";>




        <!-- START BUYER LOGIN FORM -->
        <div class="buyer-login-form" style="height: 300px">
            <form action="https://checkout.flutterwave.com/v3/hosted/pay" method="POST" style="width: 80%">
                <div class="sign-up">
                    <h1>PAYMENT DETAILS</h1>
                </div>
                <h1>Total Price:  ₦{{.order.TotalPrice}}</h1>
                <input type="hidden" name="public_key" value="FLWPUBK_TEST-a5b7c226a8a7d07954298656f131ca4d-X" />
                <input type="text" name="customer[email]" value=""  placeholder="email"/>
                <input type="text" name="customer[name]" value="" placeholder="customer name" />
                <input type="hidden" name="tx_ref" value="bitethtx-019203" />
                <input type="hidden" name="amount" value="{{.order.TotalPrice}}" />
                <input type="hidden" name="currency" value="NGN" />
                <input type="hidden" name="meta[token]" value="54" />
                <input type="hidden" name="redirect_url" value="https//localhost:8084/sellers/launchproduct">


                <div class="btn-div">
                    <button class="submit-btn" type="submit" id="start-payment-button"><a href="">CHECKOUT</a></button>
                </div>
            </form>

        </div>
        <!-- END SELLER LOGIN FORM -->

        <div class="button-div">
            <button class="page-btn" style="margin-left: 30px; border-radius: 7px 7px"><a href="/seller/launchproduct">Market Place</a></button>
            <button class="page-btn"style="margin-left: 30px; border-radius: 7px 7px"><a href="/">Home Page</a></button>
        </div>
    </div>
    <!-- End body -->


</div>

</body>
</html>