<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&family=Dancing+Script:wght@500&family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/buyer-signup.css">
    <link rel="icon" href="/static/images/download.png" type="image/x-icon">
</head>
<style>
    .create-account{
        text-decoration: underline;
    }
    .create-account:hover{
        color: white;
    }
</style>
<body>


<div class="container">

    <h1 style="color: #000; text-align: center;">N E X T - S T O R E</h1>


    <!-- Start body -->
    <div class="shopfront-div" style="display: flex; background-color: #fff; flex-direction: row; width: 75%; height: 73vh; margin:auto;margin-top: -90px">


        <!-- <span>THANK YOU FOR SHOPING AT</span> -->
        <!-- START BUYER LOGIN FORM -->

        <div class="buyer-login-form" style="margin-right: auto; height: 100%; ">
            <form action="/buyer/signup" method="POST">
                <div class="sign-up">
                    <h1 class="sign-in" style="margin-left: auto">CREATE AN ACCOUNT</h1>
                </div>
                <br>
                <div class="fname">
                    <input type="text" name="name" id="fname" required placeholder="First Name">
                </div>
                <div class="lname">
                    <input type="text" name="" id="lname" required placeholder="Last Name">
                </div>
                <div class="username">
                    <input type="text" name="username" id="username" required placeholder="Username">
                </div>
                <div class="email">
                    <input type="text" name="email" id="email" required placeholder="Email">
                </div>
                <div class="email">
                    <input type="number" name="phonenumber" id="phonenumber" required placeholder="phone number">
                </div>
                <div class="password">
                    <input type="password" name="password" id="password" required placeholder="Password">
                </div>
                <div class="address">
                    <textarea name="address" id="address" class="text-area" cols="20" rows="4" placeholder="Address"></textarea>
                </div>
                <div class="btn-div">
                    <button class="submit-btn" type="submit" style="width: 100%; height: 40px; color: #fff">Sign Up</button>
                </div>
            </form>
        </div>


        <!-- END SELLER LOGIN FORM -->

        <div class="buyer-login-form" style="margin-left: auto; height: 55%">
            <form action="/buyer/login" method="POST" style="width: 28vw;">
                <div class="sign-up">
                    <h1 class="sign-in" style="margin-left: 0px">LOGIN</h1>
                    <p>Already have an Account?</p>
                </div>
                <br>
                <div class="username">
                    <input type="text" id="buyerusername" required placeholder="Username">
                </div>
                <div class="password">
                    <input type="password" id="buyerpassword" required placeholder="Password">
                </div>
                <div class="btn-div">
                    <button class="submit-btn" style="width: 100%; height: 40px; color: #fff" type="submit">Login</button>
                </div>
                {{if .error}}
                <div>{{.error }}</div>
                {{end}}
            </form>

        </div>


    </div>

    <a href="/seller/launchproduct" class="create-account">Market Place</a>
    <a href="/" class="create-account">Welcome Page</a>

</div>

</body>
</html>