<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&family=Dancing+Script:wght@500&family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/welcomepage.css">
    <link rel="icon" href="/static/images/download.png" type="image/x-icon">
    <title>{{ .title}}</title>
</head>
<body>


<div class="container">
    <!-- Start Navigation -->
    <div class="welcome-body">
        <nav class="navigation">
            <ul>
                <li><a href="/seller/signup" class="seller-sign-in" style="width: 100px">Admin</a> </li>
                <li><a href="/buyer/signup" class="buyer-sign-in"style="width: 100px">Sign Up</a></li>
                <li><a href="/seller/launchproduct">Market Place</a></li>
            </ul>
        </nav>
        <!-- End Navigation -->

        <!-- Start body -->
        <div class="shopfront-div">
            <h1 class="shopfront-title" style="font-weight: bold; font-size: 3rem; text-shadow: 1.1px 1.1px 1.1px #fff">N E X T - S T O R E </h1><p>...quality and affordable male outfits at the click of a button</p>
            <br>
            <div style="width: 500px; height: 170px; background-color: #fff; border-radius: 30px 30px">
                <div style="background-color: #ffbf00; width: 100%; height: 35%">
                    <h1 style="color: #000; text-align: center; font-size: 35px;">BIG BLACK FRIDAY!!</h1>
                </div>
                <button style="height: 60px; width: 210px; border: 2px solid #000; margin-left: 25%;"><a href="/seller/launchproduct" style="font-size: 30px">Shop Now</a></button>
            </div>


        </div>
        <!-- End body -->
    </div>



    <div class="footer"></div>
</div>

</body>
</html>